// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/* variables */
$logo-width: 218px;


// https://proweb63.ru/help/all-about-css/css-footer-pribit
// 5 способ
* {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
main {
    flex: 1 0 auto;
}
footer {
    flex: 0 0 auto;
}

/* my custom */

.chess {
    vertical-align: center;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    width: max-content;
    margin: 0 auto;
}

.header-logo {
    height: 45px;
    border: 0.5px solid black;
    border-radius: 5px;
    width: $logo-width;
}

.logo-like-input {
    width: $logo-width!important;
}

.chat {
    min-width: 300px;
    min-height: 330px;
    background: #f0d560;
    border: 0.5px solid darkgray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.chat-body {
    width: 100%;
    flex-grow: 3
}

.chat-item {

}

.button-chat {
    border-radius: 5px;
    border: 0.5px solid darkgray;
    padding: 2px;
    width: max-content;
}

.input-chat {
    width: 80%;
}

.form-chat {
    width: 100%;
    display: inline-block; /* центрировать..*/
    vertical-align: middle;  /* ..по вертикали */
    line-height: 1.25; /* переопределить высоту строки на обычную */
}

.chat-footer {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: white;
    border-top: 1px solid darkgray;
    border-radius: 0 0 5px 5px;
}

.chess-game {
    min-width: 200px;
    display: inline-block;
}

.chess-template {
    width: max-content;
    display: inline-block;
}

.chess-helper-template {
    display: inline-block;
    white-space: nowrap;
}

.my-chess-helper {
    width: 300px;
    height: 330px;
    display: flex;
    background: #f0d560;
    border: 0.5px solid darkgray;
    border-radius: 5px;
    align-items: center;
    justify-content: center
}

.chess-helper-item {
    width: 200px;
    margin-bottom: 5px;
    margin-top: 5px;
    background: white;
    height: 60px;
    border: 0.5px solid darkgray;
    border-radius: 5px;
}

.vertical-chess-items {
    margin: 0;
}

.user-template {
    border: 0.5px solid darkgray;
}

.user-item {
    border: 0.5px solid darkgray;
    border-radius: 5px;
    background: white;
    width: 60%;
    margin: 10px auto;
    font-family: "DejaVu Sans";
    padding: 10px 40px;
}


/* restyling default elements and classes */

.btn-outline-success {
    background: white;
    color: black;
    border: 0.5px solid darkgray;
}

.btn-outline-success:hover {
    background: orange;
    color: white;
    border: 0.5px solid orange;
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus,
.btn-outline-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem yellow;
}

.btn-outline-success:focus,
.btn-outline-success.focus {
    box-shadow: 0 0 0 0.2rem yellow;
}

.btn-outline-success.disabled,
.btn-outline-success:disabled {
    color: orange;
    background-color: transparent;
}

.btn-outline-success:not(:disabled):not(.disabled):active,
.btn-outline-success:not(:disabled):not(.disabled).active,
.show > .btn-outline-success.dropdown-toggle {
    color: #fff;
    background-color: orange;
    border-color: orange;
}
